@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 13%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 13%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 13%;

    --primary: 0 0% 20%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 94%;
    --secondary-foreground: 0 0% 13%;

    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 42%;

    --accent: 0 0% 94%;
    --accent-foreground: 0 0% 13%;

    --destructive: 0 0% 30%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 87%;
    --input: 0 0% 87%;
    --ring: 0 0% 70%;

    --radius: 0.25rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 0 0% 13%;

    --sidebar-primary: 0 0% 20%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 0 0% 94%;

    --sidebar-accent-foreground: 0 0% 13%;

    --sidebar-border: 0 0% 87%;

    --sidebar-ring: 0 0% 70%;

    --chart-1: 0 0% 45%;

    --chart-2: 0 0% 60%;

    --chart-3: 0 0% 35%;

    --chart-4: 0 0% 75%;

    --chart-5: 0 0% 55%;

    --sidebar: 0 0% 98%;

    --font-sans: sans-serif;

    --font-serif: sans-serif;

    --font-mono: sans-serif;

    --shadow-2xs: none;

    --shadow-xs: none;

    --shadow-sm: none;

    --shadow: none;

    --shadow-md: none;

    --shadow-lg: none;

    --shadow-xl: none;

    --shadow-2xl: none;

    --tracking-normal: 0em;

    --spacing: 0.25rem;
  }

  .dark {
    --background: 0 0% 15%;
    --foreground: 0 0% 98%;

    --card: 0 0% 18%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 18%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 90%;
    --primary-foreground: 0 0% 18%;

    --secondary: 0 0% 27%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 27%;
    --muted-foreground: 0 0% 70%;

    --accent: 0 0% 27%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 0% 70%;
    --destructive-foreground: 0 0% 18%;

    --border: 0 0% 100% / 10%;
    --input: 0 0% 100% / 15%;
    --ring: 0 0% 55%;
    --sidebar-background: 0 0% 10%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 0 0% 90%;
    --sidebar-primary-foreground: 0 0% 18%;
    --sidebar-accent: 0 0% 27%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 0 0% 100% / 10%;
    --sidebar-ring: 0 0% 55%;
    --chart-1: 0 0% 55%;
    --chart-2: 0 0% 70%;
    --chart-3: 0 0% 75%;
    --chart-4: 0 0% 62%;
    --chart-5: 0 0% 64%;
    --sidebar: 0 0% 18%;
    --shadow-2xs: none;
    --shadow-xs: none;
    --shadow-sm: none;
    --shadow: none;
    --shadow-md: none;
    --shadow-lg: none;
    --shadow-xl: none;
    --shadow-2xl: none;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
